
    <div class="center-it">
      <div class="home-content">
        <h1 class="home-title">
          <span>
            Spice Up Your Palate with
            <span></span>
          </span>
          <span class="home-text08">Korean Flavor</span>
        </h1>
        <div class="home-image1">
         <img src="https://cdn.tasteatlas.com/images/dishes/3b65126f46f64b1ea858b00405bc8b48.jpg?w=600" alt="" class="home-hero-image">
        </div>
        <span class="home-description">
          Welcome to munch kitchen, where we celebrate the vibrant flavors of kimchi! We aim to offer a wide range of kimchi varieties in the near future that will tantalize your taste buds and elevate your dining experience.
          At our company, we understand the importance of quality and authenticity. That's why we source the finest ingredients and follow traditional recipes handed down through generations to create our delicious kimchi. Each jar is carefully crafted with love and attention to detail, ensuring a burst of delightful flavors with every bite.

        </span>
        <div>
            <button mat-raised-button color="primary" [routerLink]="['/login']">Login as Merchant</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="accent" [routerLink]="['/products']">Customer</button>
        </div>
      </div>   
    </div>
  