
mat-card {
    max-width: 480px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

  .full-width-button {
    width: 100%;
    box-sizing: border-box;
  }

  .image-content {
    display: flex;
    align-items: center;
  }
  
  .image-icon {
    margin-right: 5px;
  }